@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <table style="width:100%">
        <tr>
            <th style="width:25%">Название отряда</th>
            <th style="width:25%">Профиль отряда</th>
            <th style="width:25%">Университет</th>
            <th style="width:25%">Дата Основания</th>
            <th style="width:25%"></th>
        </tr>
        @foreach (DZ.Models.DetachmentsModel m in ViewBag.Detachments)
        {
            <tr>
                <th style="width:25%">@m.Name</th>
                <th style="width:25%">@m.Profile.Name</th>
                <th style="width:25%">@m.University.Name</th>
                <th style="width:25%">@m.StartDate</th>
                <th style="width:25%"><a asp-action="Otryad" asp-controller="Home" name="id" value ="@m.Id" asp-route-id="@(m.Id)" > Открыть отряд </a></th>
            </tr>
        }
    </table>
</div>
